html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    background-color: #f7f7f7;
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #181c14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

header img {
    height: 3em;
    width: 3em;
}

header .logo-text {
    color: #ecdfcc;
    font-size: 2rem;
}

main {
    flex: 1;
    padding: 7rem 9%;
    display: flex;
    justify-content: center;
}

.goals-section {
    background-color: #D2E0FB;
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
}

.goals-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #181c14;
}

.goals-calendar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.goals-box, .calendar-box {
    background-color: #FEF9D9;
    padding: 1.5rem;
    width: 45%;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goals-box h3, .calendar-box h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #181c14;
}

form input[type="text"], form input[type="file"] {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    background-color: #8EACCD;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

form button:hover {
    background-color: #657c99;
}

table#calendar {
    width: 100%;
    border-collapse: collapse;
}

table#calendar td {
    border: 1px solid #dee5d4;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #181c14;
    padding: 1rem;
    color: #ecdfcc;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
